<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409979891202-soh3hoq5g3b9igd7aq61gmbethj7e3ro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409979891202-soh3hoq5g3b9igd7aq61gmbethj7e3ro</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409979891202-mv6g15miije4mknfhivet0c0cl60sfo2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBagF2igATdbbEQe6ZWp8bChpIm-7j9TxI</string>
	<key>GCM_SENDER_ID</key>
	<string>409979891202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmk.quotesapp</string>
	<key>PROJECT_ID</key>
	<string>quotes-app-2b598</string>
	<key>STORAGE_BUCKET</key>
	<string>quotes-app-2b598.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409979891202:ios:e04f5f0551f4e8d56d011b</string>
	<key>DATABASE_URL</key>
	<string>https://quotes-app-2b598.firebaseio.com</string>
</dict>
</plist>